@media ( max-width:1200px  )
   .container
      max-width: 960px
   .slider
      width: 600px
      margin-right: 15px
   .swiper
      &-slide
         &__image
            width: 100%
            height: 100%
            object-fit: cover
   .booking, .map
      width: 340px
@media ( max-width: 992px )
   .container
      max-width: 700px
   .logo
      width: 133px
   .navbar
      &-top
         padding-top: 30px
         padding-bottom: 30px
      &__search
         margin-left: auto
      &-menu
         padding: 23px 0
         &__link
            font-size: 12px
            line-height: 15px
   .search
      &__input
         width: 340px
   .hotel
      &-grid
         flex-direction: column
      &__slider
         margin-bottom: 30px
      &-right
         flex-direction: row
      &__button
         font-size: 1768px
   .slider
      width: 100%
@media ( max-width: 768px)
   .container
      max-width: 576px
      width: 93%
   .navbar
      &__search, &-menu, &__user
         display: none
      &-top
         &__menu
            &-button
               display: flex
               width: 16px
               height: 11px
               padding: 0
               align-items: center
               justify-content: space-between
               flex-direction: column
               border: none
               background-color: $light
               cursor:
               &__line
                  width: 16px
                  height: 1px
                  background-color: $text-color
   .stars
      flex-basis: auto
   .hotel
      &-name
         flex-basis: 100%
      &-wrapper
         justify-content: space-between
      &-info
         &__text
            width: 100%
         &__name
            margin-top: 10px
            margin-bottom: 0
         &__ratting
            display: none
         &__offer
            order: -1
            margin-left: 0
   .slider
      height: 450px
      margin-right: 0
   .swiper
      &-slide
         &__image
            min-width: 100%
            max-width: 100%
   .map
      width: 285px
   .hotel
      &-right
         flex-direction: column
         min-height: 450px
   .booking
      width: 100%
      &__button
         width: 100%
   .map
      width: 100%
@media ( max-width: 576px)
   .logo
      width: 99px
@media ( max-width: 480px)
   .container
      max-width: 280px
   .hotel
      padding-top: 0
